<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Query History</title>
</head>
<body>
    {% for message in get_flashed_messages() %}
        <p>{{ message }}</p>
    {% endfor %}
    <h3>Hello, {{ user.username }}</h3>
    {% if user.admin %}
        <form name="userquery" id="userquery" action="/history" method="POST">
            Enter the username for the user whose queries you would like to view: <INPUT SIZE=32 id="query_username" name="query_username" TYPE='text'/>
            <p/>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <button id="userquerybutton" type="submit">Submit</button>
        </form>
    {% endif %}
    {% if not user.admin %}
        <h1> Your Past Queries</h1>
        <p id="numqueries"/>Total number of queries: {{ num_queries }}<p/>
        {% for query in queries %}
        <p id="query{{ query.query_id }}"><a href='{{ url_for('query_review', query_id=query.query_id, query_username=user.username) }}'>Query {{ query.query_id }}</a></p>
        {% endfor %}
    {% endif %}
    <br><br>
    <p><a href='{{ url_for('spell_check') }}'>Spell Checker Tool</a></p>
    <p><a href='{{ url_for('logout') }}'>Logout</a></p>
    <p/>
</body>
</html>